* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.app_wrapper {
  margin: 10px auto;
  width: 90%;
  height: 100vh;
  background-color: #F8F9FA;
  border-radius: 5px;
  position: relative;
  overflow-y: auto;
}

.app_footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;

}

.routes_content{
  margin: 0 auto;
 width: 60em
}


.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: none;
}
